<div class="left-content">
    <img id="profile-img" src="<%= img%>" height="100px" width="100px">
    <div id="id">
        <h1><%= id%></h1>
    </div>
    <div class="user-information">
        <p>email</p>
        <div id="email"><%= email%></div>
        <p>play</p>
        <div id="play"><%= play%></div>
        <p>rank</p>
        <div id="rank"><%= rank%></div>
        <p>topscore</p>
        <div id="topscore"><%= topscore%></div>
        <p>totalscore</p>
        <div id="totalscore"><%= totalscore%></div>
    </div>
    <div class="button-wrap">
        <button class="btn img-change">프로필사진 변경</button>
        <button class="btn pw-change">비밀번호 변경</button>
    </div>
</div>